# -*- mode: conf -*-

[Unit]
Description=Mysqld metrics collector and publisher.
Documentation=https://prometheus.io
After=network.target

[Service]
User=prometheus
Group=prometheus
# These constants appear in /usr/lib/systemd/system/prometheus-mysqld-exporter.service.d/environment.conf
EnvironmentFile=/etc/sysconfig/mysqld_exporter
ExecStart=/usr/bin/mysqld_exporter \
          --web.telemetry-path=${TELEMETRY_PATH} \
          --web.listen-address=${WEB_ADDR} \
          --log.format=${LOG_FORMAT} \
          --log.level=${LOG_LEVEL}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=prometheus-mysqld-exporter

[Install]
WantedBy=multi-user.target
